{% extends 'base.html' %}
{% block content %}
{% include 'includes/alerts.html' %}
{% load static %}
<div class="container">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html' %}

  <div class="content">
      <div class="text-center">
        <h4 class="quick">Change Password</h4>
        <label class="line"></label>
        
    </div><br>
    <div class="col-md-12">
        <div class="contact-top">
         
            <form method="post" action="{% url 'change_password' %}" enctype="multipart/form-data">
                {% csrf_token %}
              
            <div class="form-row">
                <div class="col-md-12">
                    <span>Current Password</span>		
                    <input type="password" name="current_pswrd" id="" class="form-control" >					
                </div>
                </div>
                
                <div class="form-row">
                    <div class="col-md-12">
                        <span>Enter new password</span>		
                        <input type="password" name="new_pswrd" id="" class="form-control">					
                    </div>
                    </div>
                    <div class="form-row">
                        <div class="col-md-12">
                            <span>Confirm Password</span>		
                            <input type="password" name="confirm_pswrd" id="" class="form-control">					
                        </div>
                        </div>
                        <div class="text-center">
                <label class="hvr-skew-backward">
                        <input type="submit" value="Save Changes" >
                </label></div>
</form>						
        </div>
         
      </div>
    </div>
  </div>
</div>

{% endblock %}