{% extends 'base.html' %}

{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">
    {% include 'includes/alerts.html' %}
    <div class="container" style="margin: 0 auto;width: 50%;padding: 50px;background: #fbf9f9;margin-top: 40px;">
        <div class="row invoice row-printable">
            <div class="col-md-12">
                <!-- col-lg-12 start here -->
                <div class="panel panel-default plain" id="dash_0">
                    <!-- Start .panel -->
                    <div class="panel-body p30">
                        <div class="row">
                            <!-- Start .row -->
                           
                            <!-- col-lg-6 end here -->
                            <h2 class="card-title mb-4 text-center">Forgot Password </h2>
                            <label class="line"></label><br><br>
                            <div class="text-center">
                            <form action="{% url 'forgot_password' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group " >
                                   <input type="email" class="form-control" placeholder="Email Address" name="email">
                                </div> <!-- form-group// -->
                                
                                
                                <div class="form-group">
                                    <a href="{% url 'login' %}"  class="news-letter text-right" ><h5>Got password?Login</h5> </a> 
                                 
                                </div> <!-- form-group form-check .// -->
                                <div class="form-group">
                                    <button type="submit" class="btn btn-danger "> Submit  </button>
                                </div> <!-- form-group// -->    
                            </form>
                            <a href="{% url 'register' %} " class="news-letter ">Don't have account? Sign up</a>
                        </div>
                                </div>
                                </div>
                </div></div>
</div>
</div>
  

    <!-- ============================ COMPONENT LOGIN  END.// ================================= -->
    
    
    </section>
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}