{% extends 'base.html' %}

{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->


    <!-- ============================ COMPONENT LOGIN   ================================= -->

    {% if request.GET.command == 'verification' %}
    <div class="container mx-auto alert alert-info" role="alert" style="max-width: 380px; margin-top:100px;">
        Thank you for registering with us. 
        We have sent you a verification email to your email address [{{request.GET.email}}]
        <br>
        Already verified?<a href="{% url 'login' %}">login</a>

    </div>    

    {% else %}

    <!--login-->
    <div class="banner-top">
        <div class="container">
            <h1 style="color:black">Login</h1>
            <label class="line"></label>
            <h2 style="color:black"><a href="index.html">Home</a><label style="color:black">/</label>Login</h2>
        </div>
    </div>
<div class="container">
    <div class="login ">
        {% include 'includes/alerts.html' %}
        <div class="row">
        <form action="{% url 'login' %}" method="POST">
            {% csrf_token %}
        
        <div class="col-12 col-md-6 login-do">
            <div class="login-mail">
                <input type="text" placeholder="Email Address" name="email">
                <i  class="glyphicon glyphicon-envelope"></i>
            </div>
            <div class="login-mail">
                <input type="password" placeholder="Password" name="password">
                <i class="glyphicon glyphicon-lock"></i>
            </div>
            <div class="text-right">
               <a href="{% url 'forgot_password' %}" class="news-letter text-right">Forgot password?</a> 
             
            </div> 
            <div class="text-center">
            <label class="hvr-skew-backward">
                <input type="submit" value="login">
            </label>
        </div><br><br>
            
        </div>
   
        <div class="col-md-6 login-right">
            <h3>Completely Free Account</h3>
            
            <p>Pellentesque neque leo, dictum sit amet accumsan non, dignissim ac mauris. Mauris rhoncus, lectus tincidunt tempus aliquam, odio 
            libero tincidunt metus, sed euismod elit enim ut mi. Nulla porttitor et dolor sed condimentum. Praesent porttitor lorem dui, in pulvinar enim rhoncus vitae. Curabitur tincidunt, turpis ac lobortis hendrerit, ex elit vestibulum est, at faucibus erat ligula non neque.</p>
           <a href="{% url 'register' %}" class=" hvr-skew-backward">Register</a>
    
       </div>
        </form>
    </div>
   
 
        </div>
       
       
        </div><br><br><br>
         {% endif %}

    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}