{% extends 'base.html' %}
{% block content %}
{% include 'includes/alerts.html' %}
{% load static %}
<div class="container">
    <div class="row">
      {% include 'includes/dashboard_sidebar.html' %}

  <div class="content">
      <div class="text-center">
        <h4 class="quick">Order history</h4>
        <label class="line"></label>
        
    </div><br>
    <div class="col-md-12">
        <div class="bs-example4" data-example-id="simple-responsive-table">
            <div class="table-responsive">
                    <table class="table-heading simpleCart_shelfItem table-hover"> 
                  <tr>
                    <th >Order#</th>
                            
                    <th>Billing Name</th>
                    <th >Phone </th>
                    <th>Order total</th>
                    <th>Date</th>
                  </tr>
                  {% for i in orders %}
                  <tr class="cart-header">
                    <td><a href="{% url 'order_detail' i.order_number %}">{{i.order_number}}</a> </td>
                    <td>{{i.full_name}}</td>
                    <td>{{i.phone_number}}</td>
                    <td>{{i.order_total}}</td>
                    <td>{{i.created_at}}</td>
                  </tr>
                  {% endfor %}
            </table>
            </div>
            </div>
         
      </div>
    </div>
  </div>
</div>

{% endblock %}