{% load static %}
<footer class="footer">
	<div class="footer-bottom">
		<div class="container">
			<p class="footer-copyright">Copyright © 2019 Emart Store. All Rights Reserved.</p><!-- End .footer-copyright -->
			<figure class="footer-payments">
				<img src="{% static 'images/payments.png' %}" alt="Payment methods" width="272" height="20">
			</figure><!-- End .footer-payments -->
		</div><!-- End .container -->
	</div><!-- End .footer-bottom -->
</footer><!-- End .footer -->
</div><!-- End .page-wrapper -->


   <!-- Plugins JS File -->
   <script src="{% static 'js/jquery.min.js' %}"></script>
   <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
   <script src="{% static 'js/jquery.hoverIntent.min.js' %}"></script>
   <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
   <script src="{% static 'js/superfish.min.js' %}"></script>
   <script src="{% static 'js/owl.carousel.min.js' %}"></script>
   <script src="{% static 'js/bootstrap-input-spinner.js' %}"></script>
   <script src="{% static 'js/jquery.plugin.min.js' %}"></script>
   <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
   <script src="{% static 'js/jquery.countdown.min.js' %}"></script>
   <!-- Main JS File -->
   <script src="{% static 'js/main.js' %}"></script>
   <script src="{% static 'js/demos/demo-4.js' %}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
	$(document).ready(function(){
		$('.thumb a').click(function(e){
			e.preventDefault();
			$('.main-image img').attr('src',$(this).attr("href"));
		})
	})
</script>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<div>
	{% for message in messages %}
	<script>
		Swal.fire({
			icon: '{{message.tags}}',
			text: "{{message}}",
			
		  })
	</script>
	{% endfor %}
  </div>
</body>
</html>
