{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Shopin</title>
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
<!-- Custom Theme files -->
<!--theme-style-->
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Shopin Responsive web template, Bootstrap Web Templates, Flat Web Templates, AndroId Compatible web template, 
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--theme-style-->
<link href="{% static 'css/style4.css' %}" rel="stylesheet" type="text/css" media="all" />	
<!--//theme-style-->
<script src="{% static 'js/jquery.min.js' %}"></script>
<!--- start-rate---->
<script src="{% static 'js/jstarbox.js' %}"></script>
	<link rel="stylesheet" href="{% static 'css/jstarbox.css' %}" type="text/css" media="screen" charset="utf-8" />
		<script type="text/javascript">
			jQuery(function() {
			jQuery('.starbox').each(function() {
				var starbox = jQuery(this);
					starbox.starbox({
					average: starbox.attr('data-start-value'),
					changeable: starbox.hasClass('unchangeable') ? false : starbox.hasClass('clickonce') ? 'once' : true,
					ghosting: starbox.hasClass('ghosting'),
					autoUpdateAverage: starbox.hasClass('autoupdate'),
					buttons: starbox.hasClass('smooth') ? false : starbox.attr('data-button-count') || 5,
					stars: starbox.attr('data-star-count') || 5
					}).bind('starbox-value-changed', function(event, value) {
					if(starbox.hasClass('random')) {
					var val = Math.random();
					starbox.next().text(' '+val);
					return val;
					} 
				})
			});
		});
		</script>
<link href="{% static 'css/skins/skin-demo-2.css' %}" rel="stylesheet" type="text/css"/>
<!-- custom style -->
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css">
<link href="{% static 'css/ui.css' %}" rel="stylesheet" type="text/css"/>
<link href="{% static 'css/responsive.css' %}" rel="stylesheet" media="only screen and (max-width: 1200px)" />
<link href="{% static 'css/custom.css' %}" rel="stylesheet" type="text/css"/>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- custom javascript -->
<script src="{% static 'js/script.js' %}" type="text/javascript"></script>

<!-- Paypal script  -->
<script src="https://www.paypal.com/sdk/js?client-id=AUqmKqsJywRYRkOqayPGyr6-N6ls0ZRA-RXeNk15r4uBXeF_S0kwx9W6V8uRXzE9qnHwnKscEmrkI-FX&currency=USD"></script>


</head>
<body>


<!--header-->
{% include 'includes/navbar.html' %}    


{% block content%}

{% endblock %}

<!--footer-->
{% include 'includes/footer.html' %}
