{% extends 'base.html' %}
{% block content %}
{% load static %}

<main class="main">
    <div class="page-header text-center" style="background-image: url('/static/images/page-header-bg.jpg')">
      <div class="container">
        <h1 class="page-title">My Account<span>Change Password </span></h1>
      </div><!-- End .container -->
    </div><!-- End .page-header -->
      <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
          <div class="container">
              <ol class="breadcrumb">
                  <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                  <li class="breadcrumb-item"><a href="#">Shop</a></li>
                  <li class="breadcrumb-item active" aria-current="page">Change Password</li>
              </ol>
          </div><!-- End .container -->
      </nav><!-- End .breadcrumb-nav -->
  <div class="container">
      <div class="page-content">
        <div class="dashboard">
            <div class="container">
              <div class="row">
  
                {% include 'includes/dashboard_sidebar.html' %}
  
                <div class="col-md-8 col-lg-9">
                    <div class="page-content">
                        <div class="checkout">
                            <div class="container">
                                <div class="checkout-discount text-center">
                                    <form method="post" action="{% url 'change_password' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                        <div class="form-row">
                                                <span>Current Password</span>		
                                                <input type="password" name="current_pswrd" id="" class="form-control" >					
                                            
                                            </div>
                                            
                                            <div class="form-row">
                                                    <span>Enter new password</span>		
                                                    <input type="password" name="new_pswrd" id="" class="form-control">					
                                                
                                                </div>
                                                <div class="form-row">
                                                        <span>Confirm Password</span>		
                                                        <input type="password" name="confirm_pswrd" id="" class="form-control">					
                                                    
                                                    </div>
                                        <div class="text-center">
                                            <input class="btn btn-outline-primary-2 " type="submit" value="Save" >
                                        </div>
                                </form>

                                </div><!-- End .checkout-discount -->
                                
                            </div><!-- End .container -->
                        </div><!-- End .checkout -->
                    </div><!-- End .page-content -->
              </div><!-- End .row -->
  
              
              </div><!-- .End .tab-pane -->
          </div>
        </div>
      </div><!-- End .col-lg-9 -->
    </div><!-- End .row -->
 <!-- End .page-content -->
  </main><!-- End .main -->

{% endblock %}

