{% extends 'base.html' %}

{% block content %}



<!-- ========================= SECTION CONTENT ========================= -->


    <!-- ============================ COMPONENT LOGIN   ================================= -->

    {% if request.GET.command == 'verification' %}
<br><br>
	<div class="container">

        <div class="cta cta-border mb-5">
            <div class="row justify-content-center">
                <div class="col-md-11 col-xl-10">
                    <div class="cta-content">
                        <div class="cta-heading">
                            <h3 class="cta-title text-right">Thank you <br> for registering with us. </h3><!-- End .cta-title -->
                        </div><!-- End .cta-heading -->
                        
                        <div class="cta-text">
                            <p>We have sent you a verification email to your email address [{{request.GET.email}}].
                            <br>
                     Already verified?</p>
                        </div><!-- End .cta-text -->
                        <a href="{% url 'login' %}" class="btn btn-primary btn-rounded"><span>login</span><i class="icon-long-arrow-right"></i></a>
                    </div><!-- End .cta-content -->
                </div><!-- End .col-xl-7 -->
            </div><!-- End .row -->
        </div><!-- End .cta -->

    {% else %}


    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
            <div class="container">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Pages</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Login</li>
                </ol>
            </div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('/static/images/banners/banner5.jpg')">
            <div class="container">
                <div class="form-box">
                    <div class="form-tab">
                        <ul class="nav nav-pills nav-fill" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link" id="signin-tab-2" data-toggle="tab" href="#signin-2" role="tab" aria-controls="signin-2" aria-selected="false">Sign In</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            
                            <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
                               
                                <form action="{% url 'login' %}" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="register-email-2">Your email address *</label>
                                        <input type="email" class="form-control" id="register-email-2" name="email" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-group">
                                        <label for="register-password-2">Password *</label>
                                        <input type="password" class="form-control" id="register-password-2" name="password" required>
                                    </div><!-- End .form-group -->

                                    <div class="form-footer">
                                        <button type="submit" class="btn btn-outline-primary-2">
                                            <span>LOGIN</span>
                                            <i class="icon-long-arrow-right"></i>
                                        </button>
                                        

                                        <a href="{% url 'forgot_password' %}" class="forgot-link">Forgot Your Password?</a>

                                        
                                    </div><!-- End .form-footer -->
                                </form>
                                <div class="form-choice">
                                    <div class="row">
                                        <div class="text-center">
                                            <a href="{% url 'phone_validation' %}" class="btn btn-login  btn-f">
                                                <i class="fa fa-mobile"></i>
                                                Sign in With Phone Number 
                                            </a>
                                        </div><!-- End .col-6 -->
                                    </div><!-- End .row -->
                                </div><!-- End .form-choice -->
                            </div><!-- .End .tab-pane -->
                        </div><!-- End .tab-content -->
                    </div><!-- End .form-tab -->
                </div><!-- End .form-box -->
            </div><!-- End .container -->
        </div><!-- End .login-page section-bg -->
    </main><!-- End .main -->
    
         {% endif %}

        
    <!-- ========================= SECTION CONTENT END// ========================= -->
    

{% endblock %}